.user-container {
  display: inline-flex;
  width: 600px;
}

.user-list {
  width: 250px;
  display: inline-block;
  border-right: 1px solid gray;
}

.user-form {
  width: 250px;
  display: inline-flex;
  vertical-align: top;
  justify-content: space-between;
}